

# Tipos de dados



Um tipo de dado	define uma coleção de dados	de objetos e um conjunto de	operações predefinidas nestes dados de objetos.
- Exemplo: nome, endereço, valor, tipo,	escopo,	tempo de vida

### Comandos úteis
- **print( )**: método utilizado para imprimir no browser a informação que está send passada como parâmetro
- **type( )**: método utilizado para identificar o tipo de dado que está sendo passado como parâmetro

## Dados tipo None
- None é o valor nulo em Python. se uma função não devolve explicitamente um valor, ela devolverá None
- None também é um valor default comum para argumentos de funções

**Obs**: valor **DEFAULT** é o valor padrão da variável definida na função, esse valor pode ser alterado passando um novo valor como argumento, caso esse argumento não seja mdificado ele permanecerá como o valor padrão.

In [2]:
# Exemplo
def valor_none(a, b, c = None):
    result = a + b
    if c is not None:
        result = result * c
    
    return result

In [3]:
# Não é passado nenhum valor para o parêmntro c
valor_none(1,2)

3

In [4]:
# Neste caso, é atribuido um novo valor para a variável c, com isso, a variável c passa a possuir um valor diferente de None 
valor_none(1,2,2)

6

In [5]:
c = None
type(None)

NoneType

**Obs**: Mais a frente aprenderemos mais a respeito de funções e métodos ( def )

## Dados tipo str
- Muitas pessoas utilizam o Python devido a sua grande gama de recursos eficazes para o processamento de strings
- Podem ser definidas utilizando aspas simples (' ') ou aspas duplas (" ")
- Para strings com multiplas linhas, podemos utilizar aspas triplas ( ' ' ' ou " " " )

**Obs**: Teremos um notebook para estudar mais a fundo esse tipo de dado

In [19]:
string_1 = 'Hoje'
string_2 = "Depois"
string_3 = '''Ninguém é tao grande que não possa aprender, 
nem tão pequeno que não possa ensinar!'''
string_4 = '1'
string_5 = "2.5"

In [20]:
type(string_1)

str

In [21]:
type(string_2)

str

In [22]:
type(string_3)

str

In [24]:
type(string_4)

str

In [25]:
type(string_5)

str

## Dados tipo float
- Números de ponto flutuante são números reais, representados com casas decimais
- Podem ser expressos com notação científica
- Podem ser positivos ou negativos

In [28]:
float_1 = 1.5
type(float_1)

float

In [26]:
float_2 = 1.5e-5
type(float_2)

float

In [39]:
float_3 = -3.57
type(float_3)

float

## Dados tipo bool

In [29]:
a = True
type(a)

bool

In [30]:
b = False
type(b)

bool

In [31]:
bool_1 = 1
bool_2 = 1
bool_3 = 2

In [33]:
print(type(bool_1), type(bool_2))

<class 'int'> <class 'int'>

In [34]:
bool_1 == bool_2

True

In [35]:
type(bool_1 == bool_2)

bool

In [36]:
print(type(bool_1), type(bool_3))

<class 'int'> <class 'int'>

In [37]:
bool_1 == bool_3

False

In [38]:
type(bool_1 == bool_3)

bool

## Dados tipo int

In [40]:
int_1 = 1
type(int_1)

int

In [41]:
int_2 = 0
type(int_2)

int

In [42]:
int_3 = -6
type(int_3)

int

## Dados tipo complexo

Número complexos possuem utilização reestrita, mas são um tipo de dado em Python

In [3]:
complexo_1 = 1 + 4j
type(complexo_1)

complex

In [4]:
complexo_2 = -1j
type(complexo_2)

complex

### Observação

Existem outros tipos de dados, um pouco mais complexos, e estes serão abordados mais a frente.

- Listas
- Dicionários
- Arrays
- Séries
- DataFrames